* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 340px;
    background-image: 
            url("../img/flowers-g2a236f70e_1280.png");    
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    min-height: 65px;
    width: 100vw;
    min-width: 340px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.search-input {
    padding: 5px 40px 5px 17px;
    box-sizing: border-box;
    box-shadow: 0 0 11px 0 #519;
    font-size: 15px;
    line-height: 18px;
    border: none;
    width: 280px;
    min-height: 40px;
    font-size: 18px;
    border-radius: 20px;
}

.search-input:focus {
    outline: none;
}

.container {
    padding: 10px;
    

}

.search-form {
    margin: 0 auto;
    position: relative;
}

.submit-btn {
    position: relative;
    box-shadow: none;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    right: 35;
    top: 4;
}

.icon {
    stroke: none;
}

.gallery-section {
    margin-top: 67px;
    margin-bottom: 30px;
}



:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.gallery {
    display: grid;
    max-width: 1340px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 15px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    
}

.photo-card {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: rgba(245, 241, 217, 0.88);
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 85%;
    width: 100%;
    background-color: rgba(244, 242, 230, 0.8);
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery_link {
    text-decoration: none;
}

.gallery_link:hover {
    cursor: zoom-in;
}

.info {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 13px;
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    height: 100%;
    text-align: center;
    background-color: transparent;
    text-shadow: 1px 1px 1px #FFF;
}

.caption {
    text-align: center;
    background-color: rgba(26, 24, 6, 0.399) !important;
}
/* 
.dn {
    display: none;
} */
/* 
.load-more {
    display: block;
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 9.375rem;
    padding: .625rem;
} */









.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 70px;
    padding: 10px;
    transition: transform 0.5s;
    opacity: 0;
    transform: scale(50%) translateX(100%);
}


.back-to-top:hover {

    transform: translateY(-10);
}

.show {
    opacity: 1;
    transform: translateX(0);
}